footer {
  width: 100%;
  height: 120px;
  max-width: 1440px;
  padding: 20px 50px 0px; 
  background-color: var(--base-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid var(--primaria);
}

footer > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid var(--primaria);
  background-color: var(--base-3);
}

ul {
  display: flex;
  align-items: center; 
}

li{
  list-style: none;
}

li:hover{
  transform:scale(1.1)
}

/* CSS media query do footer  */

@media screen and (max-width: 500px ){
  footer{
    padding: 10px; 
  }
}