.hobbies{
  background-color: var(--base-1);
  max-width: 90rem;
  width: 95%;
  padding: 0 0rem 3rem;
  margin: 0 4.37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.hobbies > h3 {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  color: var(--primaria);
  margin: 1rem 1rem 0;
}

.container {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  gap: 3rem 1.5rem;
}

.container > .box {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  color: var(--text);
  background-color: #EAF0DE;
  padding: 5px;
  border-radius: .5rem;
  border-top: 1px solid var(--primaria);
  border-left: 1px solid var(--primaria);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.5);
  overflow: hidden;
}
